.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.c{
    grid-column: 1 / 3;      
}